-#  Copyright (c) 2024, Schweizer Alpen-Club. This file is part of
-#  hitobito_sac_cas and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/hitobito/hitobito_sac_cas.


- if c.model.wizard.family_membership?
  .alert.alert-warning
    = t('.family_warning', family_member_names: c.model.family_member_names)
.alert.alert-info
  %p=t('.info_text', terminate_on: I18n.l(c.model.wizard.terminate_on), sektion: c.model.wizard.sektion_name)
= c.fields_for do |form|
  = form.labeled(:termination_reason_id) do
    = form.select :termination_reason_id, c.model.termination_reason_options, {prompt: true}, class: "form-select form-select-sm"

  - if wizard.backoffice?
    = render 'wizards/shared/inline_checkbox', label: t(".inform_mitglied_via_email"), key: :inform_mitglied_via_email, form:
