-# frozen_string_literal: true
- # Named with z so it will show up at the end.

-#  Copyright (c) 2023, Schweizer Alpen-Club. This file is part of
-#  hitobito_sac_cas and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/hitobito/hitobito_sac_cas.

- pass = sac_membership_pass(entry)
- if can?(:update, entry) && entry.sac_membership_active? && pass
  %section.sac-membership.row
    %h2.col-md-8
      = t('.section_sac_membership')
    .col-sm-4.d-flex.justify-content-end
      = action_button(t('.download_pdf'), membership_path(entry, format: :pdf),
        :download, class: 'membership-download', target: '_blank')

    .col
      - if google_wallet_configured?
        = action_button t('person.passes.index.add_to_google_wallet'), google_wallet_group_person_pass_path(*parents, entry, pass), "add"
      - if apple_wallet_configured?
        = action_button t('person.passes.index.add_to_apple_wallet'), group_person_pass_path(*parents, entry, pass, format: :pkpass), "add"

    .d-flex.justify-content-center.w-100
      .qr-code-wrapper
        .inner
          = pass_qr_code_svg(pass, size: 220)
          .hint
            = t('.qr_code_hint')
