-#  Copyright (c) 2024, Schweizer Alpen-Club. This file is part of
-#  hitobito_sac_cas and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/hitobito/hitobito_sac_cas.

= c.fields_for do |form|
  - if c.model.wizard.backoffice? && !c.model.self_service?
    .alert.alert-warning=t('.backoffice_no_self_service_info_text')

  - if c.model.group
    .row
      .col-lg
        = form.labeled_collection_select :group_id, c.model.groups, :id, :name, {prompt: true}, data: { action: 'forwarder#click' }
      .col-md
        = render(SelfRegistration::FeeComponent.new(group: c.model.wizard.sektion, birthdays: []))
  - else
    = form.labeled_collection_select :group_id, c.model.groups, :id, :name, {prompt: true}, data: { action: 'forwarder#click' }
  = render 'shared/hidden_submit', label: 'Load Fees', formaction: nil
