-#  Copyright (c) 2024, Schweizer Alpen-Club. This file is part of
-#  hitobito_sac_cas and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/hitobito/hitobito_sac_cas.

- if c.model.wizard.role.terminated?
  .alert.alert-warning
    = t('.membership_already_terminated', end_on: l(c.model.wizard.role.end_on))

- if c.model.wizard.mitglied_termination_by_section_only?
  .alert.alert-warning
    = t('.warning_termination_by_section_only')
.alert.alert-info
  = t('.info_text')
= c.fields_for do |form|
  = form.labeled(:terminate_on) do
    - form.object.terminate_on_options.each do |key, label|
      = form.inline_radio_button :terminate_on, key, label
