-#  Copyright (c) 2024, Schweizer Alpen-Club. This file is part of
-#  hitobito_sac_cas and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/hitobito/hitobito_sac_cas.

.alert.alert-secondary.align-with-form.mt-2
  = simple_format(t('.membership_info_box'))

= c.nested_fields_for(:members, c.model.build_member, t(".add")) do |form|
  %div{data: {controller: :'sac--signup',
              'sac--signup_email_validation_path_value': email_check_path,
              'sac--signup_adult_from_value': SacCas::Beitragskategorie::Calculator::AGE_RANGE_ADULT.first}}
    = form.error_messages
    = form.labeled_gender_inline_radio_buttons
    = form.labeled_input_fields :first_name, :last_name
    = form.labeled_date_field :birthday, data: {action: 'focusout->sac--signup#toggleFields focusout->forwarder#click'}, placeholder: t('global.date_field_placeholder'), yearRange: '-100:+0'
    = form.labeled_adult_required_field :email, data: {action: 'change->sac--signup#validateEmail'} do
      .d-none.invalid-feedback{data: { 'sac--signup_target': :emailInfo}}
        %span= I18n.t("wizards.steps.signup.sektion.family_fields.email_taken")
    = form.labeled_adult_required_field :phone_number, placeholder: t('global.phone_placeholder')

  .col-xl-2.col-md-3.align-with-form.pe-3.mb-3
    = link_to(t("global.associations.remove"), "javascript:void(0)", class: "remove_nested_fields", data: { action: "nested-form#remove autosubmit#save", mode: :remove })

%br
  .btn-toolbar.bottom.housemates.align-with-form
    = render 'wizards/steps/signup/sektion/family_buttons', c: c
