.well.p-3.row.col-11.col-xxl-5.flex-flow-column.me-auto.ms-3.pb-5
  = content_tag :span, person.adult? ? t(".adult") : t(".child"), class: "mb-2 h3"
  = content_tag(:div, "#{person.first_name} #{person.last_name}", class: "mb-3 fw-bold mh-20-px")
  = content_tag(:div, labeled(person.class.human_attribute_name(:birthday), person.birthday.strftime("%d.%m.%Y"), no_value_hide_label: true), class: "mh-20-px")
  = content_tag(:div, labeled(person.class.human_attribute_name(:phone_number), person.phone_number, no_value_hide_label: true), class: "mh-20-px")
  = content_tag(:div, labeled(person.class.human_attribute_name(:email), wizard.email, no_value_hide_label: true), class: "mh-20-px")
