.well.p-3.row.col-11.col-xxl-5.flex-flow-column.me-auto.ms-3.pb-5
  = content_tag :span, t(".contact_person"), class: "mb-2 h3"
  = content_tag(:div, "#{person.first_name} #{person.last_name}", class: "mb-3 fw-bold mh-20-px")
  = content_tag(:div, labeled(person.class.human_attribute_name(:address_care_of), person.address_care_of, no_value_hide_label: true, no_value_hide_label: true), class: "mh-20-px")
  = content_tag(:div, labeled(person.class.human_attribute_name(:address), "#{person.street} #{person.housenumber}", no_value_hide_label: true), class: "mh-20-px")
  = content_tag(:div, labeled(person.class.human_attribute_name(:postbox), person.postbox, no_value_hide_label: true), class: "mh-20-px")
  = content_tag(:div, labeled(t("contactable.fields.zip_town"), "#{person.zip_code} #{person.town}", no_value_hide_label: true), class: "mh-20-px")
  = content_tag(:div, labeled(person.class.human_attribute_name(:county), person.country), class: "mb-3 mh-20-px")
  = content_tag(:div, labeled(person.class.human_attribute_name(:birthday), person.birthday.strftime("%d.%m.%Y"), no_value_hide_label: true), class: "mh-20-px")
  = content_tag(:div, labeled(person.class.human_attribute_name(:phone_number), person.phone_number, no_value_hide_label: true), class: "mh-20-px")
  = content_tag(:div, labeled(person.class.human_attribute_name(:email), wizard.email, no_value_hide_label: true), class: "mh-20-px")
