-#  Copyright (c) 2024, Schweizer Alpen-Club. This file is part of
-#  hitobito_sac_cas and licensed under the Aformero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/hitobito/hitobito_sac_cas.

= c.fields_for do |form|
  %span.align-with-form.h5.fw-bold= t('.entry_date')
  .alert.alert-secondary.align-with-form.mt-2= entry_date_text

  = form.labeled(:self_registration_reason_id) do
    - form.object.self_registration_reason_options.each do |key, label|
      = form.inline_radio_button :self_registration_reason_id, key, label
      %br

  = render "wizards/steps/signup/agreement_fields", form: form, sektion_statuten: form.object.requires_sektion_statuten?
