-#  Copyright (c) 2026, Schweizer Alpen-Club. This file is part of
-#  hitobito_sac_cas and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/hitobito/hitobito_sac_cas

.d-none.d-xl-flex.border-bottom.row
    .col-2= Person.human_attribute_name(:name)
    .col-2= Role.model_name.human(count: 2)
    .col-2= Group::Sektion.model_name.human
    .col-3= Event::Participation.human_attribute_name(:status)
    .col-3= Event::Participation.human_attribute_name(:means_of_transport)

- entry.participations.each do |participation|
    = f.fields_for :participations_attributes, participation, index: participation.id do |ff|
        .border-bottom.row.py-2
            .col-12.col-xl-2
                .labeled-grid.d-xl-block
                    .d-xl-none.muted= Person.human_attribute_name(:name)
                    .fw-bold= link_to(participation.to_s(:list), group_event_participation_path(@group, @event, participation))
            .col-12.col-xl-2
                .labeled-grid.d-xl-block
                    .d-xl-none.muted= Role.model_name.human(count: 2)
                    = participation.decorate.list_roles
            .col-12.col-xl-2
                .labeled-grid.d-xl-block
                    .d-xl-none.muted= Group::Sektion.model_name.human
                    = participation.tour_sektion || t("global.associations.no_entry")
            .col-12.col-xl-3
                .labeled-grid.d-xl-block
                    .d-xl-none.muted= Event::Participation.human_attribute_name(:status)
                    - if entry.report.event.canceled? || !entry.editable_participation_state?(participation)
                        = participation.state_label
                    - else
                        = ff.i18n_enum_field :state, entry.participation_state_labels(participation)
            .col-12.col-xl-3
                .labeled-grid.d-xl-block
                    .d-xl-none.muted= Event::Participation.human_attribute_name(:means_of_transport)
                    - if entry.report.event.canceled?
                        = participation.means_of_transport_label
                    - else
                        = ff.i18n_enum_field :means_of_transport, Event::Participation.means_of_transport_labels.to_a
