-#  Copyright (c) 2024, Schweizer Alpen-Club. This file is part of
-#  hitobito_sac_cas and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/hitobito/hitobito_sac_cas.

- @sheet = Sheet::Memberships::SwitchStammsektion.new(self, nil, group)

= standard_form(wizard, url: group_person_switch_stammsektion_path(group_id: group.id, person_id: person.id), data: { controller: 'forwarder'}) do |f|
  = render StepsComponent.new(partials: wizard.partials, step: wizard.current_step, form: f) do |c|
    = c.with_aside do
      .col-md
        - if wizard.step(:choose_sektion)&.group
          = render 'wizards/signup/section_fee_summary', active: true,
            adult: wizard.fees_for(:adult),
            family: wizard.fees_for(:family),
            youth: wizard.fees_for(:youth)
        = render(SelfRegistration::InfosComponent.new)
