-#  Copyright (c) 2024, Schweizer Alpen-Club. This file is part of
-#  hitobito_sac_cas and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/hitobito/hitobito_sac_cas.

= entry_form(buttons_bottom: false,
             cancel_url: group_person_path(@group, @person),
             data: { controller: 'form-field-toggle' }) do |f|

  = f.labeled(:qualification_kind_id) do
    = select_tag("qualification[qualification_kind_id]",
                 options_for_select(@qualification_kinds.map { [_1.to_s, _1.id, { data: { visibility: _1.finish_at_manually_editable? } }] },
                                    entry.qualification_kind_id),
                 class: 'form-select form-select-sm mw-100 mw-md-60ch',
                 prompt: ta(:please_select),
                 data: { action: 'form-field-toggle#toggle', 'form-field-toggle-target': 'select' })
  = f.labeled_input_fields(:origin, :start_at)
  %span.hidden{ data: { 'form-field-toggle-target': 'toggle' } }
    = f.labeled_input_field(:finish_at)
