-#  Copyright (c) 2024, Schweizer Alpen-Club. This file is part of
-#  hitobito_sac_cas and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/hitobito/hitobito_sac_cas


- participant_answers = @answers.reject(&:admin?)

- if participant_answers.present?
  = f.labeled(t("event.participations.form.registration_details"), class: "mb-2 pt-2") do
    = f.fields_for(:answers, participant_answers) do |fans|
      = render 'event/answers/fields', f: fans

= f.labeled_text_area(:additional_information)

- if @event.course? && can?(:update_full, entry)
  = f.labeled_input_field(:actual_days, help: t(".total_duration_days_help", total_days: @event.total_duration_days))

- if entry.application
  = render 'application_fields', f: f

%p= t('event.participations.fields.explain_required_checkmark') if @event.questions.any?(&:required?)
