- #  Copyright (c) 2024, Schweizer Alpen-Club. This file is part of
- #  hitobito_sac_cas and licensed under the Affero General Public License version 3
- #  or later. See the COPYING file at the top-level directory or at
- #  https://github.com/hitobito/hitobito_sac_cas.

= render_attrs_group do
  = labeled_attr(entry, :membership_number)
  = labeled_attr(entry, :sac_membership_active?)
  - if entry.sac_membership_active?
    = labeled_attr(entry.person, :membership_years)

= render_attrs_group do
  = labeled_attr(entry, :created_at)
  - if entry.states?
    = labeled_attr(entry, :state)
  - if @event.course?
    = labeled_attr(entry, :actual_days)
  - if @event.course? || @event.tour?
    = labeled_attr(entry, :price)
  - if @event.tour?
    = labeled_attr(entry, :means_of_transport)
  - if @event.course?
    = labeled_attr(entry, :invoice_state)
    = labeled_attr(entry, :correspondence)

- if @event.course? && entry.state == 'canceled'
  = render_attrs(entry, :canceled_at, :cancel_statement)