-#  Copyright (c) 2024, Schweizer Alpen-Club. This file is part of
-#  hitobito_sac_cas and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/hitobito/hitobito_sac_cas.


%aside.card
  .card-body
    %h2.mb-2.card-title=t('.summary_title')
    .card-text
      %table.table.table-borderless
        %tbody
          %tr
            %td=t('.summary_course_price')
            %td.text-end=number_to_currency(total, unit: 'CHF', format: '%u %n')

          - if subsidy.positive?
            %tr
              %td=t('.summary_subsidy')
              %td.text-end= number_to_currency(subsidy, unit: 'CHF', format: '%u %n')
        %tfoot
          %tr.border-top
            %td= t('.summary_total')
            %td.text-end.fw-bold= number_to_currency(total - subsidy, unit: 'CHF', format: '%u %n')

%aside.card
  .card-body
    %h2.mb-2.card-title=t('.contact_title')
    .card-text=simple_format(t('.contact_text'))

    .card-text.mt-2
      = icon(:phone)
      %span.ms-1 +41 31 370 18 43
    .card-text
      = icon(:phone)
      %span.ms-1 +41 31 370 18 44
    .card-text
      = icon(:envelope)
      %span.ms-1 alpin@sac-cas.ch
