-#  Copyright (c) 2024, Schweizer Alpen-Club. This file is part of
-#  hitobito_sac_cas and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/hitobito/hitobito_sac_cas

- stimulus_ctrl = 'field-remote-update'

- if (@event.tour? || @event.course?) && can?(:update_full, entry) && current_user != entry.participant
  %div{ data: { controller: stimulus_ctrl, url: recalculate_price_group_event_participations_path(@group, @event, id: entry.id) } }
    = f.labeled(:price_category) do
      = f.select(:price_category, *entry.formatted_event_prices,
                                  value: @participation.price_category,
                                  class: "form-select form-select-sm",
                                  data: { action: "change->#{stimulus_ctrl}#sourceChanged" })

    = f.labeled_input_field(:price, data: { field_remote_update_target: "field" })

- if @event.course? && can?(:update_full, entry)
  = f.labeled_input_field(:actual_days, help: t("event.participations.answers_step.total_duration_days_help", total_days: @event.total_duration_days))
