-#  Copyright (c) 2024, Schweizer Alpen-Club. This file is part of
-#  hitobito_sac_cas and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/hitobito/hitobito_sac_cas.

#leader_settlement_form
  = standard_form(entry,
                  url: group_event_leader_settlement_pdfs_path(@group, @event, participation_id: @participation.id),
                  method: :post) do |f|
    .alert.alert-info= t(".info_text_html")
    = f.error_messages
    = f.labeled_number_field(:actual_days, value: entry.actual_days, label_class: "col-3")
    = f.labeled_input_field(:iban, label_class: "col-3")
    = form_buttons(f, submit_label: t(".create_invoice"), cancel_url: '#', toolbar_class: "offset-3")
