-#  Copyright (c) 2024, Schweizer Alpen-Club. This file is part of
-#  hitobito_sac_cas and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/hitobito/hitobito_sac_cas

= section("#{@event.name} (#{@event.number})") do
  = @event.dates_full

= section(t('event.participation_contact_datas.edit.wizard_title')) do
  .mb-2
    = entry.person.salutation_label(entry.person.gender)
    %br
    %strong= entry.person
  .mb-2
    = entry.person.complete_address
  .mb-2
    = "#{Person.human_attribute_name(:birthday)}: #{l(entry.person.birthday)}"
    %br
    = "#{Wizards::Steps::Signup::PersonFields.human_attribute_name(:phone_number)}: #{entry.person.phone_numbers.first&.number}"
    %br
    = "#{Wizards::Steps::Signup::PersonFields.human_attribute_name(:email)}: #{entry.person.email}"


= section(t('event.participations.step_wizard.answers_title')) do
  %dl
    - entry.answers.list.reject(&:admin?).each do |answer|
      %dt= sanitize(answer.question.question)
      %dd= answer.answer.presence || t('event.participations.no_answer_given')

    %dt= t('activerecord.attributes.event/participation.additional_information')
    %dd.multiline= entry.additional_information.presence || t('event.participations.no_answer_given')

.alert.alert-info
  = simple_format(t('.annulation_remarks'))


- if @group.root?
  = f.boolean_field(:adult_consent, caption: t('groups.self_registration.adult_consent_field.caption'))

  - link = link_to(t('.terms_and_conditions_link_label'), t('.terms_and_conditions_link_href'), target: :_blank)
  = f.boolean_field(:terms_and_conditions, caption: t(".terms_and_conditions_text", link: link).html_safe)

  - if @group.sac_newsletter_mailing_list_id
    = f.boolean_field(:newsletter, caption: t('.subscribe_newsletter'))
