-#  Copyright (c) 2024, Schweizer Alpen-Club. This file is part of
-#  hitobito_sac_cas and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/hitobito/hitobito_sac_cas.

- stimulus_ctrl = 'form-field-check-dependent'
%div{data: { controller: stimulus_ctrl, "#{stimulus_ctrl}-select-dependent-checkboxes-value": true }}
  - if current_user.backoffice? && c.model.mitglied_termination_by_section_only?
    .alert.alert-info
      = t('.termination_by_section_only')
  - if c.model.family_membership?
    .alert.alert-warning
      %p= t('.family_warning', family_member_names: c.model.family_member_names)
      %p= t('.info_text', terminate_on: c.model.wizard.terminate_on, sektion: c.model.wizard.sektion_name)
  = c.fields_for do |form|
    = form.labeled(:termination_reason_id) do
      = form.select :termination_reason_id, c.model.termination_reason_options, {prompt: true}, class: "form-select form-select-sm"

    .row.mb-3
      .col-md-3.col-xl-2.pb-1
      .col-md-9.col-xl-7.col-xxl6
        .alert.alert-info
          %strong=t('.data_retention_info_title')
          %p=t('.data_retention_info_text')
          = form.label(:data_retention_consent, class: 'row mb-2') do
            .col-md-9
              = form.check_box :data_retention_consent, {data: { action: "#{stimulus_ctrl}#toggleMain", "#{stimulus_ctrl}-target" => "main" }}
              = t('.data_retention_consent')

    .row
      .col-md-3.col-xl-2.pb-1
      .col-md-9
        = t('.newsletter_info_text')
    = form.label(:subscribe_newsletter,  class: 'row mb-2') do
      .col-md-3.col-xl-2.pb-1
      .col-md-9
        = form.check_box :subscribe_newsletter, {prompt: true, data: { action: "#{stimulus_ctrl}#toggleDependent", "#{stimulus_ctrl}-target" => "dependent" }}
        = t('.subscribe_newsletter')

    .row
      .col-md-3.col-xl-2.pb-1
      .col-md-9
        = t('.fundraiser_info_text')
    = form.label(:subscribe_fundraising_list, class: 'row mb-2') do
      .col-md-3.col-xl-2.pb-1
      .col-md-9
        = form.check_box :subscribe_fundraising_list, {prompt: true, data: { action: "#{stimulus_ctrl}#toggleDependent", "#{stimulus_ctrl}-target" => "dependent" }}
        = t('.subscribe_fundraising_list')
