-#  Copyright (c) 2024, Schweizer Alpen-Club. This file is part of
-#  hitobito_sac_cas and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/hitobito/hitobito_sac_cas.

= render_present_attrs entry, :type, :group_id, :navision_id
- if entry.sektion_or_ortsgruppe?
  = render_attrs entry, :sac_cas_self_registration_url
- if entry.type == Group::Sektion.sti_name
  = render_attrs_group do
    = labeled(Group::Sektion.human_attribute_name(:section_offerings)) do
      = simple_list(entry.section_offerings)
