- #  Copyright (c) 2024, Schweizer Alpen-Club. This file is part of
- #  hitobito_sac_cas and licensed under the Affero General Public License version 3
- #  or later. See the COPYING file at the top-level directory or at
- #  https://github.com/hitobito/hitobito_sac_cas

%dl.dl-horizontal
  - if entry.summit.present?
    = labeled_attr(entry, :summit)

  - if entry.ascent.present? || entry.descent.present?
    = labeled t("global.elevation_label") do
      = format_elevation(entry)

  - entry.used?(:duration_h) do
    = present_labeled_attr(entry, :duration_h)

  - entry.used?(:duration_m) do
    = present_labeled_attr(entry, :duration_m)

  - if entry.tourenportal_link.present?
    = labeled t("activerecord.attributes.event/tour.tourenportal_link") do
      = link_to(entry.tourenportal_link, entry.tourenportal_link, target: "_blank")

  - entry.used?(:maps) do
    = present_labeled_attr(entry, :maps)

  - entry.used?(:alternative_route) do
    - if entry.alternative_route.present?
      = labeled(entry.object.class.human_attribute_name(:alternative_route)) do
        %p.multiline= safe_auto_link(entry.alternative_route, html: { target: '_blank' })


  - entry.used?(:additional_info) do
    - if entry.additional_info.present?
      = labeled(entry.object.class.human_attribute_name(:additional_info)) do
        %p.multiline= safe_auto_link(entry.additional_info, html: { target: '_blank' })

  - entry.used?(:language) do
    = labeled_attr(entry, :language)

  - entry.used?(:accommodation) do
    = labeled_attr(entry, :accommodation)

  - entry.used?(:meals) do
    = labeled_attr(entry, :meals)

  - entry.used?(:start_point_of_time) do
    = labeled_attr(entry, :start_point_of_time)

  - if course? || tour?
    = labeled t("events.form_tabs.prices") do
      %table
        %tbody
          - entry.object.class::PRICE_ATTRIBUTES.each do |price_attr|
            - if entry.send(price_attr).present?
              %tr
                %td.pr-1
                  = "#{price_category_label(entry.event, price_attr)}:"
                %td= format_event_price(price_attr, entry.send(price_attr), entry.event)
      - entry.used?(:price_description) do
        .muted=entry.price_description
