- #  Copyright (c) 2024, Schweizer Alpen-Club. This file is part of
- #  hitobito_sac_cas and licensed under the Affero General Public License version 3
- #  or later. See the COPYING file at the top-level directory or at
- #  https://github.com/hitobito/hitobito_sac_cas

%dl.dl-horizontal
  - if entry.summit.present?
    = labeled_attr(entry, :summit)

  - if entry.ascent.present? || entry.descent.present?
    = labeled t("global.elevation_label") do
      = format_elevation(entry)

  - if entry.tourenportal_link.present?
    = labeled t("activerecord.attributes.event/tour.tourenportal_link") do
      = link_to(entry.tourenportal_link, entry.tourenportal_link, target: "_blank")

  - entry.used?(:language) do
    = labeled_attr(entry, :language)

  - entry.used?(:accommodation) do
    = labeled_attr(entry, :accommodation)

  - entry.used?(:meals) do
    = labeled_attr(entry, :meals)

  - entry.used?(:start_point_of_time) do
    = labeled_attr(entry, :start_point_of_time)
  - if entry.is_a?(Event::Course)
    = labeled t("events.form_tabs.prices") do
      - Event::Course::PRICE_ATTRIBUTES.each do |price_attr|
        - if entry.send(price_attr).present?
          = format_event_price(price_attr, entry.send(price_attr), entry.event)
          %br
