- #  Copyright (c) 2024, Schweizer Alpen-Club. This file is part of
- #  hitobito_sac_cas and licensed under the Affero General Public License version 3
- #  or later. See the COPYING file at the top-level directory or at
- #  https://github.com/hitobito/hitobito_sac_cas

- entry.used?(:language) do
  = f.labeled_i18n_enum_field(:language, Event::Course.language_labels)
- entry.used?(:cost_center_id) do
  = f.labeled_input_field(:cost_center_id)
- entry.used?(:cost_unit_id) do
  = f.labeled_input_field(:cost_unit_id)
- entry.used?(:annual) do
  = f.labeled_input_field(:annual)
- entry.used?(:internal_comment) do
  = f.labeled_input_field(:internal_comment)

- if entry.kind_class == Event::Kind
  = field_inheritance_values(@kinds, SacCas::Event::Kind::INHERITABLE_ATTRIBUTES + [:application_conditions, :brief_description, :specialities, :similar_tours, :program])
