-#  Copyright (c) 2024, Schweizer Alpen-Club. This file is part of
-#  hitobito_sac_cas and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/hitobito/hitobito_sac_cas.

- title @person.to_s

.pagination-bar
  = paginate @external_invoices

= crud_table(data: { checkable: true }) do |t|
  - t.col(t.sort_header(:title)) do |invoice|
    %strong= invoice.title
  - t.sortable_attrs(:state, :abacus_sales_order_key, :total, :issued_at, :created_at, :updated_at)
  - t.col('') do |invoice|
    - if invoice.cancellable?
      = action_button(t('.cancel_invoice'),
                  cancel_external_invoices_group_people_group_person_path(@group, @person, invoice),
                  :ban,
                  class: 'btn-sm',
                  method: :post,
                  data: { confirm: t('.cancel_invoice_confirmation') })

= paginate @external_invoices
