-#  Copyright (c) 2024, Schweizer Alpen-Club. This file is part of
-#  hitobito_sac_cas and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/hitobito/hitobito_sac_cas.

- if person
  #sections.pt-2.border-top.mb-2
    - main_section_role = person.roles.find_by(type: Group::SektionsMitglieder::Mitglied.sti_name)
    - if main_section_role.present?
      %div
        %div
          %strong= main_section_role.to_s
        %div
          %strong= main_section_role.group.layer_group.to_s
    - person.roles.where(type: Group::SektionsMitglieder::MitgliedZusatzsektion.sti_name).each do |secondary_role|
      %div
        %div= secondary_role.to_s
        %div= secondary_role.group.layer_group.to_s

  - if person.sac_tour_guide?
    #tour-guides.pt-2.border-top.mb-2
      %div.mb-2
        = t('.tour_guide')

  #logo-reciprocate.pt-5.border-top.mb-2
    = wagon_image_pack_tag('logo_gegenrecht.svg', alt: 'gegenrecht logo')
#sponsors
  %a{href: localized_sac_sponsors_url, target: '_blank'}
    = wagon_image_pack_tag(localized_sponsor_logo_path, alt: 'sponsors')
