- title = t('verify_membership.title')

%html{lang: I18n.locale}
  %head
    %meta{charset: 'utf-8'}
    %title= "#{Settings.application.name} - #{title}"
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1.0'}
    = stylesheet_pack_tag 'application'
    = javascript_pack_tag 'membership_verify'
  %body
    #membership-verify
      %header
        %div#logo
          - logo = Settings.application.membership_verify_logo
          - if logo
            = wagon_image_pack_tag(logo.image, alt: Settings.application.name)
          - else
            = image_pack_tag(localized_logo_path, alt: 'define logo in wagon settings (membership_verify_logo)')
      #details
        - if person
          #member-img
            = image_tag(upload_url(person, :picture, variant: :profile))
          #member-name
            = person.full_name
          #member-info.mb-2
            %div
              %strong=t('.membership_number', membership_number: person.membership_number)
            %div
              - membership_years = Person.where(id: person.id).with_membership_years.first.membership_years
              %strong=t('.membership_years', membership_years: membership_years)
          - if member?
            %div.alert.alert-success
              %span.fas.fa-check
              = t('verify_membership.status_valid')
          - else
            %div.alert.alert-danger
              %span.fas.fa-times-circle
              = t('verify_membership.status_invalid')

          #sections.mb-5
            - main_section_role = person.roles.find_by(type: Group::SektionsMitglieder::Mitglied.sti_name)
            - if main_section_role.present?
              %div
                %div
                  %strong= main_section_role.to_s
                %div
                  %strong= main_section_role.group.layer_group.to_s
            - person.roles.where(type: Group::SektionsMitglieder::MitgliedZusatzsektion.sti_name).each do |secondary_role|
              %div
                %div= secondary_role.to_s
                %div= secondary_role.group.layer_group.to_s

          #logo-reciprocate
            = image_pack_tag('logo_gegenrecht.svg', alt: 'gegenrecht logo')

        - else
          %div.alert.alert-danger
            %span.fas.fa-times-circle
            = t('verify_membership.not_found')
      #footer
        %a{href: localized_sac_sponsors_url, target: '_blank'}
          = image_pack_tag('membership_verify_partner_ad.jpg', alt: 'sponsors')

