-# Copyright (c) 2026, Hitobito AG. This file is part of
-# hitobito and licensed under the Affero General Public License version 3
-# or later. See the COPYING file at the top-level directory or at
-# https://github.com/hitobito/hitobito.

.d-flex.flex-column
  = f.fields_for(:date_range) do |ff|
    = ff.label(:since, t(".since"), class: "form-label")
    = ff.text_field(:since, value: event_filter.chain.dig(:date_range, :since),
      class: "date form-control form-control-sm",
      data: {reset_value: I18n.l(Time.zone.today.to_date)})

.d-flex.flex-column
  = f.fields_for(:date_range) do |ff|
    = ff.label(:until, t(".until"), class: "form-label")
    = ff.text_field(:until, value: event_filter.chain.dig(:date_range, :until), class: "date form-control form-control-sm")