-# Copyright (c) 2026, Hitobito AG. This file is part of
-# hitobito and licensed under the Affero General Public License version 3
-# or later. See the COPYING file at the top-level directory or at
-# https://github.com/hitobito/hitobito.

.event-card
  .event-card-text
    = event.id

  .event-card-text
    = event.name

  .event-card-text
    = I18n.l(event.start_at)

  .event-card-text
    = event.total_duration_days

  - if event.display_booking_info?
    .event-card-text
      = "#{event.participant_count}/#{event.maximum_participants}"

  .event-card-text
    = event.contact
  .event-card-text
    = link_to t(".show_details"), agenda_show_path(group, event)

  - if event.is_a?(Event::Tour)
    .event-card-text
      = event.disciplines.join(", ")
    .event-card-text
      = event.technical_requirements.join(", ")
    .event-card-text
      = event.fitness_requirement
    .event-card-text
      = event.target_groups.join(", ")
    .event-card-text
      = "#{event.ascent} / #{event.descent} / #{event.duration_in_hours}"