-#  Copyright (c) 2026, Hitobito AG. This file is part of
-#  hitobito and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/hitobito/hitobito.

- oauth = params[:oauth] == 'true'

-# the layout should always be stacked for oauth since the container size is much smaller
- flex_direction_class = oauth ? "flex-column-reverse" : "flex-md-row flex-column-reverse"
.row{class: flex_direction_class}

  - col_class = oauth ? "col-md-12" : "col-md-6"
  %div{class: col_class}
    - form_url = oauth ? person_session_path(oauth: true) : person_session_path
    - autofocus_login = true if autofocus_login.nil?

    = standard_form(resource, {url: form_url, stacked: true, data: { turbo: false }}) do |f|
      = f.error_messages
      = f.labeled_input_field(:login_identity, autocomplete: "login", autofocus: autofocus_login, label: t('.login_identity'), class: 'mw-100 mw-md-60ch')
      = f.labeled_input_field(:password)
      = f.labeled_boolean_field(:remember_me)
      = f.indented(submit_button(f, t('.sign_in')))
      = f.indented do
        = render "devise/sessions/helpful_links"
  %div{class: col_class}
    = render 'groups/contact_data', group: Group.root.decorate, only_public: true
