- #  Copyright (c) 2024, Schweizer Alpen-Club. This file is part of
- #  hitobito_sac_cas and licensed under the Affero General Public License version 3
- #  or later. See the COPYING file at the top-level directory or at
- #  https://github.com/hitobito/hitobito_sac_cas.

= f.labeled_input_field :level_id
= f.labeled_input_field :cost_center_id
= f.labeled_input_field :cost_unit_id
= labeled_compensation_categories_field(f, @course_compensation_categories, Event::Kind.human_attribute_name(:course_compensation_categories))
= f.labeled_input_field :maximum_participants
= f.labeled_input_field :minimum_participants
= f.labeled_input_field :maximum_age
= f.labeled_input_field :ideal_class_size
= f.labeled_input_field :maximum_class_size
= f.labeled_input_field :training_days
= f.labeled_i18n_enum_field(:season, Event::Kind.season_labels)
= f.labeled_input_field :reserve_accommodation
= f.labeled_i18n_enum_field(:accommodation, Event::Kind.accommodation_labels)
