-#  Copyright (c) 2024, Schweizer Alpen-Club. This file is part of hitobito and licensed under the
-#  Affero General Public License version 3 or later. See the COPYING file at the top-level directory
-#  or at https://github.com/hitobito/hitobito.

= turbo_frame_tag(partial_name, class: 'col-md') do
  - if !wizard.last_step?
    = render 'wizards/signup/section_fee_summary', active: wizard.beitragskategorie_unknown?,
      adult: wizard.fees_for(:adult, Time.zone.now.beginning_of_year),
      family: wizard.fees_for(:family, Time.zone.now.beginning_of_year),
      youth: wizard.fees_for(:youth, Time.zone.now.beginning_of_year)

    = render 'wizards/signup/section_fee_details', active: wizard.beitragskategorie_adult?, presenter: wizard.fees_for(:adult)
    = render 'wizards/signup/section_fee_details', active: wizard.beitragskategorie_family?, presenter: wizard.fees_for(:family)
    = render 'wizards/signup/section_fee_details', active: wizard.beitragskategorie_youth?, presenter: wizard.fees_for(:youth)
  = render(SelfRegistration::InfosComponent.new)
