-#  Copyright (c) 2023, Schweizer Alpen-Club. This file is part of
-#  hitobito_sac_cas and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/hitobito/hitobito_sac_cas.

.well
  = simple_format(t('.membership_info_box'))
- if entry.housemates.empty?
  .btn-toolbar.top
    %div
      = c.next_button(t('.next_as_single_link'))
      = c.back_link
    .hidden
      = c.next_button(t('.next_as_household_link'))
      = c.back_link
- else
  .btn-toolbar.top
    .hidden
      = c.next_button(t('.next_as_single_link'))
      = c.back_link
    %div
      = c.next_button(t('.next_as_household_link'))
      = c.back_link

= f.nested_fields_for :housemates, nil, nil, model_object: f.object.build_housemate, data: { action: c.stimulus_action(:toggleHousemateButtons), mode: :add} do |ff|
  = field_set_tag do
    = ff.error_messages
    = ff.labeled(:gender) do
      - (Person::GENDERS + ['']).each do |key|
        = ff.inline_radio_button(:gender, key, ff.object.gender_label(key))
    = ff.labeled_input_fields :first_name, :last_name
    = ff.labeled_date_field :birthday, data: { action: 'focusout->autosubmit#save' }
    = ff.labeled_input_fields :email, :phone_number

    .col-xl-2.col-md-3.text-md-end.pe-3
      = ff.link_to_remove(I18n.t('global.associations.remove'), { href: '#', data: { action: "#{c.stimulus_action(:toggleHousemateButtons)} click->autosubmit#save", mode: :remove }})

%br
- if entry.housemates.empty?
  .btn-toolbar.bottom
    %div
      = c.next_button(t('.next_as_single_link'))
      = c.back_link
    .hidden
      = c.next_button(t('.next_as_household_link'))
      = c.back_link
- else
  .btn-toolbar.bottom
    .hidden
      = c.next_button(t('.next_as_single_link'))
      = c.back_link
    %div
      = c.next_button(t('.next_as_household_link'))
      = c.back_link
