-#  Copyright (c) 2023, Schweizer Alpen-Club. This file is part of
-#  hitobito_sac_cas and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/hitobito/hitobito_sac_cas.

= f.fields_for(:supplements_attributes, entry.supplements) do |ff|
  = ff.error_messages

  = render 'shared/register_on_fields', f: ff

  = ff.labeled(:self_registration_reason_id) do
    - ff.object.self_registration_reason_options.each do |key, label|
      = ff.inline_radio_button :self_registration_reason_id, key, label
      %br

  = ff.labeled(:others, '&nbsp;'.html_safe) do
    = ff.label(:newsletter, class: 'd-block mt-2') do
      = ff.check_box :newsletter
      = t('.newsletter')

    - if ff.object.requires_adult_consent?
      = ff.label(:adult_consent, class: 'd-block mt-2') do
        = ff.check_box :adult_consent
        = t('groups.self_registration.adult_consent_field.caption')

    - %w(statutes contribution_regulations data_protection).each do |key|
      = render 'agreement_link', f: ff, key: key,
          link: link_to(*ff.object.link_translations(key), target: :blank)

    - if ff.object.requires_sektion_statuten?
      = render 'agreement_link', f: ff, key: :sektion_statuten,
          link: link_to(*ff.object.sektion_statuten_link_args, target: :blank)


.btn-toolbar.bottom
  = submit_button(f, t('groups.self_registration.form.submit'))
  = c.back_link
