- title t(".form_title")
- if @person.sac_membership_invoice?
  .alert.alert-info=t(".alert_info")

  = standard_form(@invoice_form, url: group_person_membership_invoices_path(@group, @person), method: :post) do |f|
    = f.error_messages
    = f.labeled(:reference_date) do
      = f.date_field(:reference_date, @invoice_form.date_range)
    = f.labeled(:invoice_date) do
      = f.date_field(:invoice_date, @invoice_form.date_range)
    = f.labeled(:send_date) do
      = f.date_field(:send_date, @invoice_form.date_range(:send_date))

    = f.labeled(:section_id) do
      - main_section = @person.sac_membership.stammsektion_role.layer_group
      = f.inline_radio_button :section_id, main_section.id, t(".mv_yearly_invoice"), true, checked: true

      .nested-radio-group
        = f.labeled(:new_entry, class: "ms-3") do
          = f.inline_radio_button :new_entry, true, t("global.yes"), true
          = f.inline_radio_button :new_entry, false, t("global.no"), true, checked: true

      - @person.sac_membership.zusatzsektion_roles(currently_paying: true).map(&:layer_group).each do |section|
        %div
          = f.inline_radio_button :section_id, section.id, "#{t(".zusatzsektion_eintrittsrechnung")} #{section.name}", false, checked: false

    = f.labeled(:discount) do
      = f.inline_radio_button :discount, 0, t("global.no"), true, checked: true
      = f.inline_radio_button :discount, 50, "50%", true
      = f.inline_radio_button :discount, 100, "100%", true

    = f.indented do
      = submit_button(f, t(".create_invoice"))
      = cancel_link(external_invoices_group_person_path(@group, @person))
- else
  .alert.alert-warning= t(".alert_warning")
  = cancel_link(external_invoices_group_person_path(@group, @person))
