-#  Copyright (c) 2024, Schweizer Alpen-Club. This file is part of
-#  hitobito_sac_cas and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/hitobito/hitobito_sac_cas.

- title t(".title")
- if @person.data_quality == "error"
  .alert.alert-danger
    = t(".alert_error")
    %ul
      - @person.data_quality_issues.where(severity: :error).each do |issue|
        %li= issue.message
  = cancel_link(external_invoices_group_person_path(@group, @person))

- elsif !@person.sac_membership_invoice?
  .alert.alert-warning= t(".alert_warning")
  = cancel_link(external_invoices_group_person_path(@group, @person))

- else
  .alert.alert-info= t(".alert_info")

  = standard_form(@invoice_form, url: group_person_membership_invoices_path(@group, @person), method: :post, data: { controller: 'form-field-toggle' }) do |f|
    = f.error_messages
    = f.labeled(:reference_date) do
      = f.date_field(:reference_date, minDate: @invoice_form.min_date, maxDate: @invoice_form.max_date)
    = f.labeled(:invoice_date) do
      = f.date_field(:invoice_date, minDate: @invoice_form.min_date, maxDate: @invoice_form.max_date)
    = f.labeled(:send_date) do
      = f.date_field(:send_date, minDate: @invoice_form.min_date, maxDate: @invoice_form.max_send_date)

    = f.labeled(:section_id) do
      = f.inline_radio_button :section_id, @invoice_form.stammsektion.id, t(".mv_yearly_invoice"), true, checked: true, data: { action: "form-field-toggle#untoggle" }

      .nested-radio-group
        = f.labeled(:new_entry, nil, nil, label_class: "col-md-5 col-xl-4", class: "col-md-7 col-lg-8 col-xl-6 mw-63ch") do
          = f.inline_radio_button :new_entry, true, t("global.yes"), true
          = f.inline_radio_button :new_entry, false, t("global.no"), true, checked: true

      - @invoice_form.zusatzsektionen.each do |section|
        %div
          = f.inline_radio_button :section_id, section.id, "#{t(".zusatzsektion_eintrittsrechnung")} #{section.name}", false, checked: false, data: { action: "form-field-toggle#untoggle" }

      - if @person.sac_membership.active?
        = f.inline_radio_button :section_id, 0, t(".manual_positions"), false, checked: false, data: { action: "form-field-toggle#toggle" }

    = f.labeled(:dont_send) do
      = f.inline_radio_button :dont_send, false, t("global.yes"), true, checked: true
      = f.inline_radio_button :dont_send, true, t("global.no"), true

    %div{data: { 'form-field-toggle-target': "toggleOpposite" }}
      = f.labeled(:discount) do
        = f.inline_radio_button :discount, 0, t("global.no"), true, checked: true
        = f.inline_radio_button :discount, 50, "50%", true
        = f.inline_radio_button :discount, 100, "100%", true

    - if @person.sac_membership.active?
      .hidden{data: { 'form-field-toggle-target': "toggle" }}
        = render "manual_fee_fields", f: f

    = f.indented do
      = submit_button(f, t(".create_invoice"))
      = cancel_link(external_invoices_group_person_path(@group, @person))
