-#  Copyright (c) 2023, Schweizer Alpen-Club. This file is part of
-#  hitobito_sac_cas and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/hitobito/hitobito_sac_cas.

= standard_form(entry, url: group_self_inscription_confirm_path(group_id: @group.id), remote: true) do |f|
  = f.error_messages
  = render 'shared/register_on_fields', f: f

  = f.labeled(:register_as) do
    - f.object.register_as_options.each do |key, label|
      = f.inline_radio_button :register_as, key, label

  .well= t('.register_as_info')

  = form_buttons(f, submit_label: t('.inscribe'))
