-#  Copyright (c) 2024, Schweizer Alpen-Club. This file is part of
-#  hitobito_sac_cas and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/hitobito/hitobito_sac_cas.
= render(SacMembershipConfigs::ValidFromSelectorComponent.new(entry: entry, available_configs: available_configs))

= entry_form(cancel_url: cancel_url, buttons_top: false) do |f|
  - if entry.new_record?
    = field_set_tag do
      = render(SacMembershipConfigs::FieldRowsComponent.new(form: f, attrs: [:valid_from]))

  = field_set_tag(t('sac_membership_configs.form.fees')) do
    .container.ml-0
      .row
        .col-3.p-1
        .col-3.p-1
          = t('.membership_adult')
        .col-3.p-1
          = t('.membership_family')
        .col-3.p-1
          = t('.membership_youth')
      .row
        .col-3.p-1
          = t('.sac_fee')
        .col-3.p-1
          .input-group.input-group-sm
            = f.input_field :sac_fee_adult
            %span.input-group-text
              = t('global.currency')
        .col-3.p-1
          .input-group.input-group-sm
            = f.input_field :sac_fee_family
            %span.input-group-text
              = t('global.currency')
        .col-3.p-1
          .input-group.input-group-sm
            = f.input_field :sac_fee_youth
            %span.input-group-text
              = t('global.currency')
      .row
        .col-3.p-1
          = t('.entry_fee')
        .col-3.p-1
          .input-group.input-group-sm
            = f.input_field :entry_fee_adult
            %span.input-group-text
              = t('global.currency')
        .col-3.p-1
          .input-group.input-group-sm
            = f.input_field :entry_fee_family
            %span.input-group-text
              = t('global.currency')
        .col-3.p-1
          .input-group.input-group-sm
            = f.input_field :entry_fee_youth
            %span.input-group-text
              = t('global.currency')
      .row
        .col-3.p-1
          = t('.hut_solidarity_fee_without_hut')
        .col-3.p-1
          .input-group.input-group-sm
            = f.input_field :hut_solidarity_fee_without_hut_adult
            %span.input-group-text
              = t('global.currency')
        .col-3.p-1
          .input-group.input-group-sm
            = f.input_field :hut_solidarity_fee_without_hut_family
            %span.input-group-text
              = t('global.currency')
        .col-3.p-1
          .input-group.input-group-sm
            = f.input_field :hut_solidarity_fee_without_hut_youth
            %span.input-group-text
              = t('global.currency')
      .row
        .col-3.p-1
          = t('.hut_solidarity_fee_with_hut')
        .col-3.p-1
          .input-group.input-group-sm
            = f.input_field :hut_solidarity_fee_with_hut_adult
            %span.input-group-text
              = t('global.currency')
        .col-3.p-1
          .input-group.input-group-sm
            = f.input_field :hut_solidarity_fee_with_hut_family
            %span.input-group-text
              = t('global.currency')
        .col-3.p-1
          .input-group.input-group-sm
            = f.input_field :hut_solidarity_fee_with_hut_youth
            %span.input-group-text
              = t('global.currency')
      .row
        .col-3.p-1
          = t('.magazine_fee')
        .col-3.p-1
          .input-group.input-group-sm
            = f.input_field :magazine_fee_adult
            %span.input-group-text
              = t('global.currency')
        .col-3.p-1
          .input-group.input-group-sm
            = f.input_field :magazine_fee_family
            %span.input-group-text
              = t('global.currency')
        .col-3.p-1
          .input-group.input-group-sm
            = f.input_field :magazine_fee_youth
            %span.input-group-text
              = t('global.currency')
      .row.pt-5
        .col-3.p-1
          = SacMembershipConfig.human_attribute_name(:service_fee)
        .col-3.p-1
          .input-group.input-group-sm
            = f.input_field :service_fee
            %span.input-group-text
              = t('global.currency')
      .row
        .col-3.p-1
          = SacMembershipConfig.human_attribute_name(:magazine_postage_abroad)
        .col-3.p-1
          .input-group.input-group-sm
            = f.input_field :magazine_postage_abroad
            %span.input-group-text
              = t('global.currency')

  = field_set_tag(t('.reductions')) do
    .container.ml-0
      .row
        .col-3.p-1
          = SacMembershipConfig.human_attribute_name(:reduction_amount)
        .col-3.p-1
          .input-group.input-group-sm
            = f.input_field :reduction_amount
            %span.input-group-text
              = t('global.currency')
      .row
        .col-3.p-1
          = SacMembershipConfig.human_attribute_name(:reduction_required_membership_years)
        .col-3.p-1
          .input-group.input-group-sm
            = f.input_field :reduction_required_membership_years
            %span.input-group-text
              = t('global.years')

  = field_set_tag(t('.discounts')) do
    .container.ml-0
      .row
        .col-3.p-1
        .col-3.p-1
          = t('.discount_date')
        .col-3.p-1
          = t('.discount')
      .row
        .col-3.p-1
          = SacMembershipConfig.human_attribute_name(:discount_date_1)
        .col-3.p-1
          .input-group.input-group-sm
            = f.input_field :discount_date_1
        .col-3.p-1
          .input-group.input-group-sm
            = f.input_field :discount_percent_1
            %span.input-group-text
              = '%'
      .row
        .col-3.p-1
          = SacMembershipConfig.human_attribute_name(:discount_date_2)
        .col-3.p-1
          .input-group.input-group-sm
            = f.input_field :discount_date_2
        .col-3.p-1
          .input-group.input-group-sm
            = f.input_field :discount_percent_2
            %span.input-group-text
              = '%'
      .row
        .col-3.p-1
          = SacMembershipConfig.human_attribute_name(:discount_date_3)
        .col-3.p-1
          .input-group.input-group-sm
            = f.input_field :discount_date_3
        .col-3.p-1
          .input-group.input-group-sm
            = f.input_field :discount_percent_3
            %span.input-group-text
              = '%'

  = field_set_tag(t('.article_numbers')) do
    = render(SacMembershipConfigs::ArticleNumberFieldRowsComponent.new(form: f))
